header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.header .title {
    font-family: "Neue Machina Regular";
    text-align: center;
    font-size: 2em;
    margin: .67em 0;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.job::before {
    content: "";
    background-image: url(../icons/job.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.location::before {
    content: "";
    background-image: url(../icons/location.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.phone::before {
    content: "";
    background-image: url(../icons/phone.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.email::before {
    content: "";
    background-image: url(../icons/email.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}


@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo info"
        ;
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .info{
        grid-area: info;
    }
}
